@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body{
	margin: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Source Sans 3', 'Source Sans Pro', 'Source Sans', sans-serif;
	background-color: #F2EBDC;
	color: #26170F;
}

.main{
	width: 100vw;
	height: 100svh;
	padding: 0 5% 7.5%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 5%;
}

.car-wrapper{
	font-size: 1.25em;
	margin: 0;
}

.car{
	font-size: 1.5em;
	color: #0B758C;
}

.conseil{
	font-style: italic;
	font-weight: 350;
	background-color: #fff;
	padding: 1.2em 1.5em;
	border-radius: 1em;
	width: fit-content;
	box-shadow: 0 0.1em 1em #26170F20;
}

.secondes{
	display: none;
}


@media screen and (min-width: 768px){
	.car-wrapper{
		font-size: 1.8em;
	}
	
	.car{
		font-size: 1.8em;
	}

	.conseil{
		font-size: 1.2em;
	}
}
